* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #e08b02e6, #ffb224);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  padding: 20px 20px;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: max-content;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}

#userDetails {
  display: flex;
  flex-direction: column;
}

#userDetails p {
  padding: 10px 10px;
  border: 1px solid rgb(197, 197, 197);
  font-size: 1.1rem;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f9a70f;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #e59b40;
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  #userDetails p {
    font-size: 1rem;
  }
}